version: '3.6'

services:
  telegram-media-extractor-bot:
    shm_size: '2g'
    image: hseeberger/scala-sbt:11.0.13_1.6.2_3.1.1
    container_name: telegram_media_extractor_bot
    environment:
      - TELEGRAM_BOT_API_KEY=${TELEGRAM_BOT_API_KEY}
      - TELEGRAM_VALID_USERS=${TELEGRAM_VALID_USERS}
      - TELEGRAM_TARGET_BOT_API_KEY=${TELEGRAM_TARGET_BOT_API_KEY}
      - TELEGRAM_TARGET_CHAT_ID=${TELEGRAM_TARGET_CHAT_ID}
      - TWITTER_API_KEY=${TWITTER_API_KEY}
      - TWITTER_API_SECRET=${TWITTER_API_SECRET}
      - TWITTER_ACCESS_TOKEN=${TWITTER_ACCESS_TOKEN}
      - TWITTER_ACCESS_TOKEN_SECRET=${TWITTER_ACCESS_TOKEN_SECRET}
      - MASTODON_INSTANCE_NAME=${MASTODON_INSTANCE_NAME}
      - MASTODON_ACCESS_TOKEN=${MASTODON_ACCESS_TOKEN}
      - WEB_CLIENT_COOKIES=${WEB_CLIENT_COOKIES}
      - JAVA_OPTS=-Xmx1g -Xms512m -XX:MaxMetaspaceSize=512m
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    working_dir: /app
    command: >
      /bin/bash -c "echo 'Installing chrome-browser' && 
      wget -qO - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add - &&
      echo 'deb http://dl.google.com/linux/chrome/deb/ stable main' > /etc/apt/sources.list.d/google-chrome.list &&
      apt-get update && apt-get install -y google-chrome-stable ffmpeg &&
      echo 'Running the scala project' && 
      sbt assembly &&
      java -jar target/scala-3.6.2/telegram-media-extractor-bot.jar"
